:root {
  --nhtsa-header-gutter: 16px;
}

.nhtsa-header {
  display: flex;
  gap: var(--nhtsa-header-gutter);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nhtsa-header .icon-nova-bus svg,
.nhtsa-header .icon-prevost svg,
.nhtsa-header .icon-logo svg {
  width: 100px;
  height: 20px;
}

.nhtsa-header .nhsta-header-langauge-switch {
  text-transform: uppercase;
  padding: 9px 21px;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  align-items: center;
  display: flex;
  text-decoration: none;
  border-radius: 4px;
  background: var(--link-color);
  color: var(--c-white);
}

.nhtsa-header .nhsta-header-langauge-switch::after {
  content: '';
}

.nhtsa-header .nhsta-header-langauge-switch:hover,
.nhtsa-header .nhsta-header-langauge-switch:focus {
  background-color: var(--link-hover-color);
}

.nhtsa-header .nhsta-header-langauge-switch:active {
  background-color: var(--link-hover-color);
}

.nhtsa-header .hide {
  display: none;
}

@media (min-width: 1200px) {
  :root {
    --nhtsa-header-gutter: 32px;
  }

  .nhtsa-header-wrapper {
    border-top: 1px solid var(--c-grey-300);
  }

  .nhtsa-header .icon-logo svg {
    width: 160px;
    height: 30px;
  }

  .nhtsa-header .icon-nova-bus svg,
  .nhtsa-header .icon-prevost svg {
    width: initial;
    height: initial;
  }

}
