.vin-number-form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.vin-number-input-wrapper {
  position: relative;
}

.vin-number-form .vin-number-input {
  margin: 0;
  max-width: 100%;
  padding: 22px;
}

.vin-number-form .vin-number-submit {
  max-width: 100%;
}

.vin-number-label {
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition:
    top 160ms cubic-bezier(0.2, 0, 0.1, 1),
    left 160ms cubic-bezier(0.2, 0, 0.1, 1);
  font-size: 16px;
}

.vin-number-input:focus ~ .vin-number-label,
.vin-number-input:not(:placeholder-shown) ~ .vin-number-label,
.vin-number-input:not(:focus):valid ~ .v2-forms-label {
  bottom: 0;
  left: 0;
  top: 3px;
}

/* recalls list styling */
.vin-number-results-container{
  padding: 20px 0;
}

.vin-number-recalls-wrapper {
  margin-top: 40px;
}

.vin-number-recalls-heading {
  display: flex;
  gap: 16px
}

.vin-number-date-text {
  font-size: var(--body-font-size-s);
}

.vin-number-list,
.vin-number-detail-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.vin-number-list-item {
  border-top: 1px solid var(--volvo-text-black);
  padding: 20px 0;
}

.vin-number-detail-item {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.vin-number-detail-item-column {
  flex-direction: column;
  gap: 0;
}

.vin-number-detail-title {
  margin-bottom: 0;
}

.vin-number-recall-incomplete,
.vin-number-recall-incomplete-no-remedy {
  color: var(--c-error-red);
}

.vin-number-recall-complete {
  color: var(--c-leaf);
}

@media (min-width: 744px) {
  .vin-number-form {
    flex-direction: row;
    max-width: 100%;
  }

  .vin-number-input-wrapper {
    flex: 1;
  }
}
